<section class="card card-rounded">

  <div class="card-header">

    <div class="hidden" id="postID">{{post_id}}</div>

    <a href="/dashboard/postDetail/{{post_id}}">
      <h4>{{post_title}}</h4>Posted By:
      {{user.user_name}}
      On:
      {{posted_date}}
    </a>
  </div>

  <div class="card-body">
    <p>{{post_body}}</p>
  </div>

  {{#if comments}}
    <div class="card-header">
      <h6>Post comments</h6>
    </div>
    {{#each comments}}
      <div class="card-body" id="comment">
        {{comment_body}}
        <div id="commenter">
        Comment Posted By:
       {{commentPosted_by}}
        </div>
      </div>
    {{/each}}
  {{/if}}

</section>