<section class="card card-rounded">

  <div class="card-header">
    <h4>{{post_title}}</h4>Posted By:
    {{user.user_name}}
    On:
    {{posted_date}}
  </div>

  <div class="card-body">
    <p>{{post_body}}</p>
  </div>
  {{#if comments}}
    <div class="card-header">
      <h6>Post comments</h6>
    </div>
     {{log user.user_name}}
    {{#each comments as |comment index|}}
       <div class="card-body" id="comment">
        {{!-- Comment #: {{index}} --}}
        {{comment_body}}
        <div id="commenter">
        Comment Posted By:
        {{commentPosted_by}}
        </div>
      </div>
    {{/each}}
  {{/if}}
</section>