<section class="card card-rounded">
  <div class="card-header">
    <a href="/singlepost/" + {{user.user_id}}>
      <h4>{{post_title}} Posted By: {{user.user_name}} On: {{posted_date}}</h4>
    </a>
  </div>
  <div class="card-body">
    <p>{{post_body}}</p>
  </div>
  <div class="card-footer">
  </div>
</section>