<section class="card card-rounded">

  <div class="card-header">
      <h4>{{post_title}} Posted By: {{user.user_name}} On: {{posted_date}}</h4>
  </div>

  <div class="card-body">
    <p>{{post_body}}</p>
  </div>

  <div>
    <p>Post comments</p>
    {{#each comments}}
      <p>{{comment_body}}</p>
    {{/each}}
  </div>

</section>