<section class="card">
    <div class="card-header">
    <a href = '/singlepost/{{id}}'>
      <h4>{{title}} Posted By: {{user.username}} On: {{posted_date}}</h4>
    </a>
    </div>
    <div class="card-body">
      <p>{{post_body}}</p>
    </div>
    <button id="updatePost" class="btn">Update Post</button> 
    <button id="deletePost" class="btn">Delete Post</button> 
</section>